/* ESTILOS EXCLUSIVOS PAGES */
#pagesBody {
  display: grid;
  grid-template-areas: 
  "header header"
  "mainSection mainSection"
  "footer footer";
  grid-template-columns: 35% auto;
  grid-template-rows: 28% 70% auto;
  overflow: hidden;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
  padding: 0px;
}
#pageMain {
  grid-area: mainSection;
  display: grid;
  grid-template-columns: 80% auto;
  column-gap: 10px;
  height: auto;
  min-height: 430px;
  margin-bottom: 5px;
}
#menuViewer {
  display: grid;
  grid-template-columns: 25% auto;
  column-gap: 10px;
}
#navMenuSection {
  padding: 10px 10px 0px 10px;
  border-radius: 1rem;
  height: auto;
  background-image: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1));
}
.navMenuSectionTitle {
  text-align: center;
}
.naveMenuSectionLi{
  list-style-type: none;
  font-weight: bold;
}
.navMenuSectionSubTitle {
  padding: 10px;
}
#principalSelection {
  padding: 20px 10px 15px 25px;
  border-radius: 1rem;
  height: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1));
}
#extraContent {
  padding: 10px 15px 15px 20px;
  border-radius: 1rem;
  height: 355px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1));
}
#extraContent li {
  margin-left: 15px;
}
/* pages responsive design */

/* ESTILOS EXCLUSIVOS PÁGINA DE CONTACTO*/
#contactMain {
  display: flex;
}
#contactForm {
  background-image: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1));
  padding: 1rem 2.5rem 0.2rem 2.5rem;
  border-radius: 1rem;
  font-weight: bolder;
  width: auto;
  margin: auto;
}
label {
  display: inline-block;
  margin: 0.5rem 0rem;
  padding: 0.2rem;
  font-size: 1.25rem;
}
#userName, #userMail, #userCrypto, #userMessage {
  display: inline-block;
  width: 100%;
  color: #808080;
  font-weight: bolder;
  font-size: 1rem;
}
#userMessage {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
}
#deleteMessage, #sendMessage {
  display: inline-block;
  width: 40%;
  height: 3rem;
  padding: 0rem 0rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  background: rgba(100, 220, 168, 0.8);
  cursor: pointer;
  margin: 1rem 0rem;
  font-weight: bolder;
}
#deleteMessage:hover {
  transform: scale(0.9);
}
#labelMessage {
  display: block;
}
#sendMessage {
  float: right;
}
#sendMessage:hover {
  transform: scale(1.1);
}
/* RESPONSIVE CONTACTO */
@media only screen and (min-width: 769px) and (max-width:920px) {
  #contactForm {
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;    
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #contactForm {
    padding: 20px 20px;
    height: auto;    
  }
  #userMessage {
    width: 100%;
    height: 80px;
    font-size: 0.8rem;
  }
  #deleteMessage, #sendMessage {
    width: 35%;
    height: 2rem;
    padding: 0rem 0rem;
    font-size: 0.8rem;
    margin: 5px 0px;
    font-weight: normal;
  }
}
@media only screen and (max-width: 576px) {
  #contactForm {
    padding: 5px 10px;
    height: auto;
  }
  label {
    font-size: 0.9rem;
  }
  #userName, #userMail, #userCrypto, #userMessage {
    font-size: 0.8rem;
  }
  #userMessage {
   font-size: 0.9rem;
  }
  #deleteMessage, #sendMessage {
    font-size: 1rem;
    margin: 5px 0px;
  }
}
/* FIN, POR AHORA...*/