/* ESTILOS EXCLUSIVOS PAGES */
#pagesBody {
  display: grid;
  grid-template-areas: 
  "header header"
  "mainSection mainSection"
  "footer footer";
  grid-template-columns: 35% auto;
  grid-template-rows: 28% 70% auto;
  overflow: hidden;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
  padding: 0px;
}
#pageMain {
  grid-area: mainSection;
  display: grid;
  grid-template-columns: 80% auto;
  column-gap: 10px;
  height: auto;
  min-height: 430px;
  margin-bottom: 5px;
}
#menuViewer {
  display: grid;
  grid-template-columns: 25% auto;
  column-gap: 10px;
}
#navMenuSection {
  padding: 10px 10px 0px 10px;
  border-radius: 1rem;
  height: auto;
  background-image: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1));
}
.navMenuSectionTitle {
  text-align: center;
}
.naveMenuSectionLi{
  list-style-type: none;
  font-weight: bold;
}
.navMenuSectionSubTitle {
  padding: 10px;
}
#principalSelection {
  padding: 20px 10px 15px 25px;
  border-radius: 1rem;
  height: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1));
}
#extraContent {
  padding: 10px 15px 15px 20px;
  border-radius: 1rem;
  height: 355px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1));
}
#extraContent li {
  margin-left: 15px;
}
/* pages responsive design */
