$background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
 url(../images/blockchain.png);
$background-color: linear-gradient(rgba(140, 164, 180, 0.8), rgba(234, 239, 243, 0.1)); 
$text-color: #ffffff;
$general-font: 'Roboto', sans-serif;
$titles-font: 'Libre Baskerville', serif;
$menus-font: 'Lato', sans-serif;

@mixin scale {
  transform: scale(1.1);
  text-decoration: none;
  color: $text-color;  
}